@{
    ViewBag.Title = "About Us";
}
<html>
<head>
    <style>
        .about 
        {
            font-family: cursive;
            font-size: 20px;
            text-align: center;
        }

        .thanks 
        {
            font-family: cursive;
            font-size: 25px;
            text-align: center;
            font-weight: bold;
        }

        .aboutTitle {
           margin-top: 2%;
           margin-bottom: 2%;
           font-family: 'Segoe UI';
           font-size: 4vw;
           text-align: center;
           text-shadow: 2px 2px 4px #000000;
           color: #3f4164;
           font-weight: bold;
        }
    </style>
</head>
<body>
    <header id="aboutus" class="aboutTitle"> About us </header>

    <div class="about">
        <section>
            <p>We are computer science students at the College of Management and are now finishing second year.</p>
            <p> This project was done as part of a web application development course.</p>
            <br />
        </section>
        <section>
            <h> ASP.NET Web Application Entity Framewok at Visual Studio </h>
            <p> MVC - Model View Controller </p>
            <p> JQuery & Ajax </p>
            <p> HTML5 </p>
            <p> CSS </p>
            <p> JavaScript </p>
            <p> JQuery & Ajax </p>
            <p> Query by LINQ </p>
            <p> API </p>
        </section>

        <section>
            <h2 class="thanks"> Thank You for watching our project! </h2>
            <p> Omer Atir , Aviad Rahamim , Shiran Klein , Guy Peleg </p>
        </section>

    </div>
</body>
</html>